body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #f0f0f0;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrollbars */
}

h1 {
    display: none; /* Hide the title for more space */
}

canvas {
  border: 1px solid black;
  background-color: #333;
  display: block; /* Remove extra space below canvas */
}
